h1 {
  text-align: center;
  font-family: sans-serif;
  color: White;
}
.mainp{
  color:White;
  font-size: 15px;
}
body{
  background-image: url("https://www.nlspacecampus.eu/cache/3/1920x1080/mob-shutterstock-481251031-20210610135721_1920x1080.jpg")
}
